doctype html
html(ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 自經區正反意見比較表
    != stylesheetLinkTag('styles', {assetsPath: 'public/stylesheets/'})

  body(ng-controller="AppCtrl as App")
    header#header(
      ng-mouseenter="App.State.titlebar='toolbox'"
      ng-controller="HeaderCtrl as Header")
      .container.containing-block

        .titlebar-container.text-center(
          ng-switch="App.State.titlebar")
          div.titlebar(ng-switch-when="title")
            h1(no-animate)
              //- The title that reflects the currently spied perspective title
              span.title(
                ng-repeat="title in Header.Spy.spies track by $index"
                ng-class="{'is-prev': Header.Spy.current > $index, 'is-next': Header.Spy.current < $index}" ng-bind-html="::title")
          aside.titlebar.toolbox(ng-switch-when="toolbox")
            .toolbox-btn-group.btn-group(dropdown)

              button.btn(
                ng-click="Header.openInfoModal()"
                tooltip="關於比較表"
                tooltip-placement="bottom" tooltip-append-to-body="true"
              )
                span.glyphicon.glyphicon-info-sign

              button.btn(
                dropdown-toggle
                tooltip="面相／主題"
                tooltip-placement="bottom" tooltip-append-to-body="true"
              )
                span.glyphicon.glyphicon-th-list

              ul.dropdown-menu.menu-perspective(role="menu")
                li(ng-repeat="title in Header.Spy.spies track by $index")
                  a(ng-href="#{{title}}" ng-click="Header.scrollTo($event, title)" ng-bind-html="::title")

            .toolbox-btn-group.btn-group
              button.btn(
                tooltip="{{ Header.labelAction }}爭議標記"
                tooltip-placement="bottom" tooltip-append-to-body="true"
                ng-class="{active: App.State.labels}"
                ng-click="Header.toggleLabels()"
              )
                span.glyphicon.glyphicon-tags

            .toolbox-btn-group.btn-group
              button.btn(
                ng-click="App.openEditModal($event)"
                tooltip="編輯表格"
                tooltip-placement="bottom" tooltip-append-to-body="true"
              )
                span.glyphicon.glyphicon-pencil

              button.btn(
                ng-click="Header.openSubscribeModal()"
                tooltip="表格更新時寄信給我"
                tooltip-placement="bottom" tooltip-append-to-body="true"
              )
                span.glyphicon.glyphicon-envelope

        .header-left.pull-left
          span.glyphicon.glyphicon-ok-sign
          | 
          | 正方
          span.hidden-xs ／支持自經區

        .header-right.pull-right
          | 反方
          span.hidden-xs ／自經區的疑慮
          | 
          span.glyphicon.glyphicon-exclamation-sign

    //- The scroll spy placeholder for the page title
    div(vu-spy="'自經比一比'" id="自經比一比")

    div.container(ng-click="App.State.titlebar='title'")
      main#main
        .row.l-row(ng-repeat="row in ::App.data.perspectives")
          a.scroll-anchor(id="{{::row.title}}" vu-spy="row.title")
          .row-center.col-sm-2.col-sm-push-5.col-xs-12.text-center
            h2
              span(ng-bind-html="::row.title.split('&#33287;')[0]")
              span.ampersand &amp;
              span(ng-bind-html="::row.title.split('&#33287;')[1]")

          .row-left.col-sm-5.col-sm-pull-2.col-xs-6(ng-switch="::row.positions[0].length")
            ul(ng-switch-default)
              li(ng-repeat="argument in ::row.positions[0]" ng-bind-html="::argument.content")
            div(ng-switch-when="0"): .column-empty(ng-include="'public/templates/empty.html'")

          .row-right.col-sm-5.col-xs-6(ng-switch="::row.positions[1].length")
            ul(ng-switch-default="")
              li(ng-repeat="argument in ::row.positions[1]" ng-bind-html="::argument.content")
            div(ng-switch-when="0"): .column-empty(ng-include="'public/templates/empty.html'")

      #edit.row: .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
        a.btn.btn-primary.btn-lg.btn-block(
          ng-click="App.openEditModal($event)"
          ng-href="{{::App.EDIT_URL}}")
          | 編輯表格

    != javascriptIncludeTag('app', {assetsPath: 'public/javascripts/'})