doctype html
html(ng-app="app")
  head(ng-controller="HeadCtrl as Head")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title(ng-bind="Head.title")
    != stylesheetLinkTag('styles', {assetsPath: 'public/stylesheets/'})

  body(ng-controller="AppCtrl as App")
    header#header(
      ng-mouseenter="App.State.titlebar='toolbox'"
      ng-controller="HeaderCtrl as Header")
      .container.containing-block

        .titlebar-container.text-center(
          ng-switch="App.State.titlebar")
          div.titlebar(ng-switch-when="title")
            h1(no-animate)
              //- The title that reflects the currently spied perspective title
              span.title(
                ng-repeat="title in Header.Spy.spies track by $index"
                ng-class="{'is-prev': Header.Spy.current > $index, 'is-next': Header.Spy.current < $index}" ng-bind-html="::title")
          aside.titlebar.toolbox(ng-switch-when="toolbox")
            .toolbox-btn-group.btn-group(dropdown)

              button.btn(
                ng-click="Header.openInfoModal()"
                tooltip="關於比較表"
                tooltip-placement="bottom" tooltip-append-to-body="true"
                ga ga-label="'toolbox.info'"
              )
                span.glyphicon.glyphicon-info-sign

              button.btn(
                dropdown-toggle
                tooltip="面相／主題"
                tooltip-placement="bottom" tooltip-append-to-body="true"
                ga ga-label="'toolbox.perspectives'"
              )
                span.glyphicon.glyphicon-th-list

              ul.dropdown-menu.menu-perspective(role="menu")
                li(ng-repeat="title in Header.Spy.spies track by $index")
                  a(ng-href="#{{title}}" ng-click="Header.scrollTo($event, title)" ng-bind-html="::title")

            .toolbox-btn-group.btn-group
              button.btn(
                tooltip="{{ Header.labelAction }}爭議標記"
                tooltip-placement="bottom" tooltip-append-to-body="true"
                ng-class="{active: App.State.labels}"
                ng-click="Header.toggleLabels()"
                ga ga-label="'toolbox.toggle'"
              )
                span.glyphicon.glyphicon-tags

            .toolbox-btn-group.btn-group
              a.btn(
                tooltip="編輯表格"
                tooltip-placement="bottom" tooltip-append-to-body="true"
                ga ga-label="'toolbox.edit'"
                ng-href="{{App.EDIT_URL}}"
              )
                span.glyphicon.glyphicon-pencil

    //- The scroll spy placeholder for the page title
    //- Should load only after App.TITLE is ready
    div.scroll-anchor-container(ng-if="App.TITLE")
      a.scroll-anchor(vu-spy="App.TITLE" id="{{App.TITLE}}")

    div.container(ng-click="App.State.titlebar='title'")
      main#main
        div.main-loading.alert.alert-info.text-center(ng-hide="::App.data") Loading

        section.scroll-anchor-container(ng-repeat="row in ::App.data.perspectives" ng-cloak)
          a.scroll-anchor(id="{{::row.title}}" vu-spy="row.title")
          .row.col-xs-12
            h2(ng-bind-html="::row.title")

          .row.l-row
            .col-xs-1.l-col(
              ng-repeat="positionArgs in ::row.positions"
              ng-switch="::positionArgs.length"
              ng-style="{width: 100/row.positions.length+'%'}")
              div(ng-switch-default)
                h3(ng-bind-html="::App.data.positionTitle[$index]")
                ul
                  li(ng-repeat="argument in ::positionArgs" vu-track="{perspective: row.title, position: 0, content: argument.content}")
                    div(vu-compile tmpl="::argument.content")
                    div.ref(vu-compile tmpl="::argument.ref")
                p.add-more: a(ng-href="{{App.EDIT_URL}}" vu-track="{label: 'item.edit', perspective: row.title, position: 0}")
                  span.glyphicon.glyphicon-pencil
                  | 我要補充……
              div(ng-switch-when="0"): .column-empty(ng-include="'public/templates/empty.html'" vu-track="{label: 'item.edit', perspective: row.title, position: 0}")


      #edit.row: .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
        a.btn.btn-primary.btn-lg.btn-block(
          ng-href="{{::App.EDIT_URL}}"
          ga ga-label="'bottom.edit'")
          | 編輯表格

    != javascriptIncludeTag('app', {assetsPath: 'public/javascripts/'})

    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-19512059-8', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');